<article>
    <h2>
        {{ post.title }}
    </h2>

    <p>
        <span>{{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        / <span>{{ post.author.username }}</span>
    </p>

    <p>{{ post.summary }}</p>
</article>
